{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <style>
        .cat {
            width: 200px;
            height: auto;
            border: 3px dotted black;
            margin: 0 auto;
        }
    </style><h1>About page...</h1>
    <div>
        Rango says here is the about page<br/>
        This tutorial has been put together by {{ author }}
        <p>
            Long cat says hello.
            <br/>
        <p>
            visits: {{ visits }}<br/>
            <button class="btn btn-primary" id="about-btn">
                Click Me - I'm JavaScript on Speed
            </button>
        <p>This is a example</p>
        <p>This is another example</p>
        <div id="msg">Hello - I'm here for a JQuery Example too</div>
        </p>
        <!-- Media files example -->
        <img src="{{ MEDIA_URL }}cat.jpg" class="cat" alt="Picture of long cat"/>
        <br/><br/>
        <img src="{% static "images/rango.jpg" %}" class="cat" alt="Picture of Rango"/>


    </div>
    </body>
    </html>
{% endblock %}