<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
<head>
    <title>Rango</title>
        <style>
        .rango {
            width: 500px;
            height: auto;
            border: 3px solid #00ffa9;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<h1>Rango says...</h1>
<div>
    hey there partner! <br/>
    <br/>
    <strong>{{ boldmessage }}</strong>
    <br/><br/>
</div>
<div>
    <!-- Static files example -->
    <img src="{% static "images/rango.jpg" %}"
         alt="Picture of Rango" class="rango"/> <!-- New line -->
    <br/><br/>
    <a href="/rango/about/">About</a><br/>

</div>
</body>
</html>
